@model Account
@{
    ViewData["Title"] = "Withdraw";
}
<body id="overall-background">
    <div class="content-middle-page">
        <div style="width:1000px; height:300px;">
            <h1 class="display-4 text-position-fix">Account Number @Model.AccountNumber (@Model.AccountType)</h1>

            <div class="row" style="margin-left:400px;">
                <div class="col-md-4">
                    <form asp-action="Withdraw">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Amount" class="control-label"></label>
                            <input id="Amount" name="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
                                   data-val="true" data-val-number="The field Amount must be a number."
                                   data-val-required="The Amount field is required." />
                            @Html.ValidationMessage("Amount", new { @class = "text-danger" })
                        </div>
                        <div class="form-group" style="margin-left:40px;">
                            <input type="submit" value="Withdraw" class="btn btn-outline-dark" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index" style="margin-left:440px;">Back to Accounts</a>
            </div>
        </div>
    </div>
</body>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
