@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MCBA</h1>
</div>

<div id="block_container">
    <div id="block1">
        <img src="~/img/HomeContent2.jpg" alt="background-beauty" style=" height: 400px; width: 600px;">
    </div>
</div>


<div class="home-content-topic">
    <h2 class="home-content-texts" tabindex="-1" id="section-our-range-of-personal-products">Our range of personal products</h2>
</div>

<div class="home-content-content" id="transaction-account-content">
    <h4 class="home-content-texts" tabindex="-1" id="section-our-range-of-personal-products">Transaction Account</h4>
    <p class="home-content-texts">With our transaction accounts, you can withdraw money from ATMs, 
    pay online, and flexibly control and manage your money and cards with our NAB app. 
    We have accounts for everyone from students and international visitors to retirees 
    and pensioners.
    </p>
    <div id="block_container">
        <div id="block1">
            <img src="~/img/HomeTransaction.jpg" alt="background-beauty" style=" height: 400px; width: 600px;">
        </div>
    </div>
</div>

<div class="home-content-content" id="saving-account-content">
    <h4 class="home-content-texts" tabindex="-1" id="section-our-range-of-personal-products">Saving Account</h4>
    <p class="home-content-texts">
        Compare between our two savings accounts. Both can be opened online in less than five minutes.
    </p>
    <div id="block_container">
        <div id="block1">
            <img src="~/img/HomeSavingAccount.jpg" alt="background-beauty" style=" height: 400px; width: 600px;">
        </div>
    </div>
</div>

<div class="home-content-content" id="credit-account-content">
    <h4 class="home-content-texts" tabindex="-1" id="section-our-range-of-personal-products">Credit Account</h4>
    <p class="home-content-texts">
        Our no interest credit card with no surprise charges – all for a simple monthly fee.
    </p>
    <div id="block_container">
        <div id="block1">
            <img src="~/img/HomeCreditCard.jpg" alt="background-beauty" style=" height: 400px; width: 600px;">
        </div>
    </div>
</div>
