@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Respecting your Privacy</h1>
<p>
    We respect your personal information, and this Privacy Policy explains how we handle it. We take appropriate measures to ensure NAB can engage securely with and for our customers. The policy covers National Australia Bank Ltd ABN 12 004 044 937 and all its related companies, including their subsidiaries (the ‘NAB Group’), which includes all of our banking, financing, funds management, financial planning, superannuation, insurance, broking and e-commerce organisations. As some of our related companies may have specific legal requirements, they may have separate, but consistent policies. Please view these if they are more relevant to your relationship with the Group.

    This Policy also includes our NAB Group credit reporting policy, that is, it covers additional information on how we manage your personal information collected in connection with a credit application, or a credit facility. We refer to this credit-related information below as credit information.
</p>
